<mat-card>
  <mat-spinner class="mr-auto ml-auto" *ngIf="!hero"></mat-spinner>

  <mat-card-header>
    <img mat-card-avatar [src]="hero?.images?.sm" />
    <mat-card-title>{{ hero?.name }}</mat-card-title>
    <mat-card-subtitle>{{ hero?.biography?.fullName }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="flex flex-column flex-row-ns items-center">
      <img [src]="hero?.images?.md" alt="Photo of {{ hero?.name }}" class="mv2" />
      <hse-appearance-table class="ml5-ns" [hero]="hero"></hse-appearance-table>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-column flex-row-ns items-start">
      <hse-power-stats [hero]="hero" class="ma3 shadow-1 ba-1"></hse-power-stats>
      <hse-details-table [hero]="hero"></hse-details-table>
    </div>
  </mat-card-content>
</mat-card>
