<form [formGroup]="searchForm" ngxsForm="herosSearchForm" class="w-100" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="w-100">
    <input matInput type="search" placeholder="Name" formControlName="name" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 [matBadge]="tags.length" matBadgeOverlap="false">Filter Tags</h4>
      </mat-panel-title>
      <mat-panel-description>
        <span class="self-center">{{ tagsDescription }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <label id="gender-label" class="mr2">Gender:</label>
      <mat-radio-group aria-labelledby="gender-label" formControlName="gender">
        <mat-radio-button [value]="Gender.Male" class="mr2">{{ Gender.Male }}</mat-radio-button>
        <mat-radio-button [value]="Gender.Female" class="mr2">{{ Gender.Female }}</mat-radio-button>
        <mat-radio-button [value]="Gender.Other">{{ Gender.Other }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="mt2">
      <label id="race-label" class="mr2">Race:</label>
      <mat-radio-group aria-labelledby="race-label" formControlName="race">
        <mat-radio-button [value]="Race.Human" class="mr2">{{ Race.Human }}</mat-radio-button>
        <mat-radio-button [value]="Race.Mutant" class="mr2">{{ Race.Mutant }}</mat-radio-button>
        <mat-radio-button [value]="Race.NonHuman" class="mr2">{{ Race.NonHuman }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="mt2">
      <label id="alignment-label" class="mr2">Alignment:</label>
      <mat-radio-group aria-labelledby="alignment-label" formControlName="alignment">
        <mat-radio-button [value]="Alignment.Hero" class="mr2">{{
          Alignment.Hero
          }}</mat-radio-button>
        <mat-radio-button [value]="Alignment.Villian" class="mr2">{{
          Alignment.Villian
          }}</mat-radio-button>
        <mat-radio-button [value]="Alignment.Neutral" class="mr2">{{
          Alignment.Neutral
          }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-action-row>
      <button type="button" mat-button mat-raised-button (click)="onResetFilterTags()">
        Reset
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</form>