<table>
  <tr>
    <th>Gender:</th>
    <td>
      <a
        mat-raised-button
        color="accent"
        [routerLink]="['/search', { gender: hero?.appearance?.gender }]"
      >
        {{ hero?.appearance?.gender }}
      </a>
    </td>
  </tr>
  <tr>
    <th>Race:</th>
    <td>
      <a
        mat-raised-button
        color="accent"
        [disabled]="!hero?.appearance?.race"
        [routerLink]="['/search', { race: hero?.appearance?.race, name: hero?.appearance?.race }]"
      >
        {{ hero?.appearance?.race || 'Unknown' }}
      </a>
    </td>
  </tr>
  <tr>
    <th>Height <mat-icon>height</mat-icon>:</th>
    <td>
      {{ hero?.appearance?.height.join(' / ') }}
    </td>
  </tr>
  <tr>
    <th>Weight:</th>
    <td>
      {{ hero?.appearance?.weight.join(' / ') }}
    </td>
  </tr>
  <tr>
    <th>Eye Color <mat-icon>remove_red_eye</mat-icon>:</th>
    <td>
      {{ hero?.appearance?.eyeColor }}
    </td>
  </tr>
  <tr>
    <th>Hair Color:</th>
    <td>
      {{ hero?.appearance?.hairColor }}
    </td>
  </tr>
  <tr>
    <th>Alignment:</th>
    <td>
      <a
        mat-raised-button
        color="accent"
        [routerLink]="['/search', { alignment: hero?.biography?.alignment }]"
        >{{ getHeroAlignment(hero?.biography?.alignment) }}</a
      >
    </td>
  </tr>
</table>
